 * ZEN STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal5-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal5-reference.css file
 *   Forum            See line 197 of Zen's drupal5-reference.css file
 *   Menus            See line 667 of Zen's drupal5-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal5-reference.css file
 *   Polls            See line 287 of Zen's drupal5-reference.css file
 *   Search           See line 320 of Zen's drupal5-reference.css file
 *   User Profiles    See line 945 of Zen's drupal5-reference.css file
 */ /** body **/
body {
	background: #cccccc;
	/*text-align: center;*/
}

#page {
	text-align: left;
	background-color: #FFF;
}

#page-inner {
	
}

/** header **/
#header {
	
}

#header-inner {
	
}

#logo-title /* Wrapper for logo, website name, and slogan */ {
	
}

#logo /* Wrapper for logo */ {
	margin: 0 10px 0 0;
	padding: 0;
}

#logo-image /* The actual logo image */ {
	margin-left: 10px;
}

h1#site-name,div#site-name /* The name of the website */ {
	margin: 0;
	font-size: 1.375em;
	line-height: 1.3em;
}

#site-name a:link,#site-name a:visited, #site-name strong {
	color: #777777;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: normal;
}

#site-name a:hover {
	text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
	color: #999999;
	font-size: 0.9em;
  text-transform: lowercase;
}

#header-blocks /* Wrapper for any blocks placed in the header region */
	{
	
}

/** main (container for everything else) **/
#main {
	background-color: #FFF;
}

#main-inner {
	
}

/** content **/
#content {
	
}

#content-inner {
	
}

#mission /* The mission statement of the site (displayed on homepage) */
	{
	
}

#content-top
	/* Wrapper for any blocks placed in the "content top" region */ {
	
}

#content-header
	/* Wrapper for breadcrumb, title, messages, tabs, and help */ {
	
}

.breadcrumb
	/* The path to the current page in the form of a list of links */ {
	padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */ h2.title,
	/* Block title or the title of a piece of content when it is given in a list of content */
	h3.title /* Comment title */ {
	border-bottom: 1px dotted #666666;
	margin-top: 8px;
	margin-bottom: 1em;
	color: #077a2d;
}



div.tabs /* See also the tabs.css file. */ {
	
}

.help /* Help text on a page */ {
	margin: 1em 0;
}

.more-help-link /* Link to more help */ {
	font-size: 0.85em;
	text-align: right;
}

#content-area /* Wrapper for the actual page content */ {
	
}

.pager
	/* A list of page numbers when more than 1 page of content is available */
	{
	clear: both;
	margin: 1em 0;
	text-align: center;
}

.pager a,.pager strong.pager-current {
	padding: 0.5em;
}

.feed-icons
	/* The links to the RSS or Atom feeds for the current list of content */
	{
	margin: 1em 0;
}

#content-bottom
	/* Wrapper for any blocks placed in the "content bottom" region */ {
	
}

/** navbar **/
#navbar {
	background-color: #ededed;
	text-align: left;
}

#navbar-inner {
	
}

#navbar li {
	background: transparent url(bkgButton_up.gif) no-repeat;
	text-align: center;
}

#navbar a,#navbar a:link,#navbar a:visited {
	background: transparent;
	display: inline-block;
	/* hide from ie/mac \*/
	display: block;
	/* end hide */
	font-weight: bold;
	text-decoration: none;
	margin: 0;
	font-size: 12px;
	padding: 0.8em 1.5em 1em 1.5em;
	color: #FFF;
	width: 114px;
}

#navbar a:hover,#navbar a.current,#navbar a:active,#navbar a:visited active, #primary a:active,#primary a:visited active {
	text-decoration: none;
	width: 114px;
	
	background: transparent url(bkgButton.gif) no-repeat;
}



#search-box /* Wrapper for the search form */ {
	
}
#navbar #autocomplete ul li{
	 background: #FFF;
	 
	 text-align: left;
	}
	#navbar #autocomplete ul li:hover{
   background: #ededed;
   color: #666666;
   text-align: left;
  }
#primary /* Primary links */ {
	
}

#secondary /* Secondary links */ {
	
}

/** sidebar-left **/
#sidebar-left {
	
}

#sidebar-left-inner {
	
}

/** sidebar-right **/
#sidebar-right {
	
}

#sidebar-right-inner {
	
}

/** footer **/
#footer, div #scratchpadify-footer {
	color: #444;
	background-color: #e6e6e6;
}
#footer-inner {
	
}

#footer-message
	/* Wrapper for the footer message from Drupal's "Site information"
                     and for any blocks placed in the footer region */ {
	
}

/** closure **/
#closure-blocks
	/* Wrapper for any blocks placed in the closure region */ {
	
}

/** Drupal nodes **/
.node /* Node wrapper */ {
	
}

.node-inner /* Additional wrapper for node */ {
	
}

.sticky /* A sticky node (displayed before others in a list) */ {
	
}

.node-unpublished /* Unpublished nodes */ {
	/* background-color: #fff4f4; */
	/* Drupal core uses a #fff4f4 background */
	
}

.node-unpublished div.unpublished,
	/* The word "Unpublished" displayed beneath the content. */
	.comment-unpublished div.unpublished {
	height: 0;
	overflow: visible;
	color: #d8d8d8;
	font-size: 75px;
	line-height: 1;
	font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	word-wrap: break-word; /* A very nice CSS3 property */
}

.node-mine /* A node created by the current user */ {
	
}

.node-teaser /* A node displayed as teaser */ {
	
}

/* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
.node-type-page /* Page content node */ {
	
}

.node-type-story /* Story content node */ {
	
}

.node h2.title /* Node title */ {
	
}

.marker
	/* "New" or "Updated" marker for content that is new or updated for the current user */
	{
	color: #c00;
}

.node .picture /* The picture of the node author */ {
	
}

.node.node-unpublished .picture,.comment.comment-unpublished .picture {
	position: relative;
	/* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .submitted /* The "posted by" information */ {
	
}

.node .taxonomy /* Node taxonomy (categories) */ {
	
}

.node .content /* Node's content wrapper */ {
	
}

.node div.links /* Wrapper for node links */ {
	margin: 1em 0;
}

ul.links /* Taxonomy links, node links, comment links */ {
	margin: 0;
	padding: 0;
}

ul.links.inline {
	display: inline;
}

ul.links li {
	display: inline;
	list-style-type: none;
	padding: 0 0.5em;
}

.preview .node
	/* Preview of the content before submitting new or updated content */ {
	/* background-color: #ffffea; */
	/* Drupal core uses a #ffffea background */
	
}

/** Drupal comments **/
#comments /* Wrapper for all comments */ {
	margin: 1em 0;
}

.comment /* Wrapper for a single comment */ {
	
}

.comment-inner /* Additional wrapper for a single comment */ {
	
}

.comment.odd /* An odd-numbered comment in the list of comments */ {
	
}

.comment.even /* An even-numbered comment in the list of comments */ {
	
}

.comment-unpublished /* Unpublished comments */ {
	/* background-color: #fff4f4; */
	/* Drupal core uses a #fff4f4 background */
	
}

.comment-unpublished div.unpublished
	/* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
	{
	
}

.comment-by-author /* A comment created by the node's author */ {
	
}

.comment-by-anon /* A comment created by an anonymous user */ {
	
}

.comment-mine /* A comment created by the current user */ {
	
}

.comment h3.title /* Comment title */ {
	
}

.new /* "New" marker for comments that are new for the current user */ {
	color: #c00;
}

.comment .picture /* The picture of the comment author */ {
	
}

.comment .submitted /* The "posted by" information */ {
	
}

.comment .content /* Comment's content wrapper */ {
	
}

.comment div.links
	/* Wrapper for comment links. See also the ul.links declaration in the node section above. */
	{
	margin: 1em 0;
}

.indented /* Nested comments are indented */ { /* margin-left: 25px; */
	/* Drupal core uses a 25px left margin */
	
}

.preview .comment
	/* Preview of the comment before submitting new or updated comment */ {
	/* background-color: #ffffea; */
	/* Drupal core uses a #ffffea background */
	
}

/** Drupal blocks **/
.block /* Block wrapper */ {
	margin-bottom: 1em;
}

.block.region-odd /* Zebra striping for each block in the region */ {
	
}

.block.region-even /* Zebra striping for each block in the region */ {
	
}

.block.odd /* Zebra striping independent of each region */ {
	
}

.block.even /* Zebra striping independent of each region */ {
	
}

.region-count-1 /* Incremental count for each block in the region */ {
	
}

.count-1 /* Incremental count independent of each region */ {
	
}

.block-inner /* Additional wrapper for block */ {
	
}

.block h2.title /* Block title */ {
	
}

.block .content /* Block's content wrapper */ {
	
}

#block-aggregator-category-1
	/* Block for the latest news items in the first category */ {
	
}

#block-aggregator-feed-1
	/* Block for the latest news items in the first feed */ {
	
}

#block-block-1 /* First administrator-defined block */ {
	
}

#block-blog-0 /* "Recent blog posts" block */ {
	
}

#block-book-0
	/* "Book navigation" block for the current book's table of contents */
	{
	
}

#block-comments-0 /* "Recent comments" block */ {
	
}

#block-forum-0 /* "Active forum topics" block */ {
	
}

#block-forum-1 /* "New forum topics" block */ {
	
}

#block-menu-2 /* "Primary links" block */ {
	
}

#block-node-0 /* "Syndicate" block for primary RSS feed */ {
	
}

#block-poll-0 /* "Most recent poll" block */ {
	
}

#block-profile-0
	/* "Author information" block for the profile of the page's author */ {
	
}

#block-search-0 /* "Search form" block */ {
	
}

#block-statistics-0 /* "Popular content" block */ {
	
}

#block-user-0 /* "User login form" block */ {
	
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */ {
	
}

#block-user-2 /* "Who's new" block for a list of the newest users */ {
	
}

#block-user-3 /* "Who's online" block for a list of the online users */
	{
	
}

/** Drupal boxes **/
	/* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
.box /* Wrapper for box */ {
	
}

.box-inner /* Additional wrapper for box */ {
	
}

.box h2.title /* Box title */ {
	
}

.box .content /* Box's content wrapper */ {
	
}

/** Miscellaneous Drupal styles **/
.error
	/* Errors that are separate from div.messages status messages (see above.) */
	{
	color: #c00;
}

.more-link /* Aggregator, blog, and forum more link */ {
	text-align: right;
}

#user-login-form /* Drupal's default login form */ {
	text-align: left;
}

tr.even,tr.odd
	/* Some tables have rows marked even or odd. See also the ".section-admin tr.even" declaration below. */
	{
	border-bottom: none;
	padding: 0;
}

tr.even {
	background: #fff !important; /* Drupal core uses a #eee background */
}

tr.odd {
	background: #eeeeee !important;
	/* Drupal core uses a #eee background */
}

li a.active /* The active item in a Drupal menu */ {
	color: #000;
}

/** Drupal forms **/
.form-item,
	/* Wrapper for a form element (or group of form elements) and its label */
	.form-checkboxes,.form-radios {
	margin: 1em 0;
}

.form-item input.error,
	/* Highlight the form elements that caused a form submission error */
	.form-item textarea.error,.form-item select.error {
	border: 2px solid #c00;
}

.form-item label /* The label for a form element */ {
	display: block;
	font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */ {
	display: inline;
	font-weight: normal;
}

.form-required
	/* The part of the label that indicates a required field */ {
	color: #c00;
}

.form-item .description
	/* The descriptive help text (separate from the label) */ {
	font-size: 0.85em;
}

.form-checkboxes .form-item,
	/* Pack groups of checkboxes and radio buttons closer together */
	.form-radios .form-item {
	margin: 0.4em 0;
}

.form-submit /* The submit button */ {
	
}

.container-inline div,.container-inline label
	/* Inline labels and form divs */ {
	display: inline;
}

.tips /* Tips for Drupal's input formats */ {
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}

/** Drupal admin tables **/
	/* We overrode these styles in html-elements.css, but restore them for the
   * admin section of the site.
   */
.section-admin tbody {
	border-top: 1px solid #ccc;
}

.section-admin th {
	text-align: left;
	padding-right: 1em;
	border-bottom: 3px solid #ccc;
}

.section-admin tbody th {
	border-bottom: 1px solid #ccc;
}

.section-admin thead th {
	text-align: left;
	padding-right: 1em;
	border-bottom: 3px solid #ccc;
}

.section-admin tr.even,.section-admin tr.odd {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	padding: 0.1em 0.6em;
}
/**
* Taken from http://drupal.org/node/221956
*/
#taxonomy-manager-term-data-fieldset{
width: 300px;
float: right;
}
div #taxonomy-manager-tree-outer-div{
width: 275px;
float: left;
}
.clear{
clear: both;
}