	/*
 * LAYOUT STYLES
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */
* {
	padding: 0;
	margin: 0;
}

/** body **/
body {
	padding-top: 20px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#page { /*
     * If you want to make the page a fixed width and centered in the viewport,
     * this is the standards-compliant way to do that. See also the ie.css file
     * for the necessary IE5/IE6quirks hack to center a div.
     */
	width: 940px;
	margin: 0 auto;
	padding-top: 15px;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	background-color: #FFF;
}

#page-inner {
	
}

#navigation-top,#navigation {
	position: absolute; /* Take the named anchors out of the doc flow    */
	left: -10000px; /* and prevent any anchor styles from appearing. */
}
	/*The skip-to-nav link can be completely hidden until a user tabs
     to the link. Un-comment the following CSS to use this technique. */
#skip-to-nav a,#skip-to-nav a:hover,#skip-to-nav a:visited {
	position: absolute;
	left: 0;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip-to-nav a:active,#skip-to-nav a:focus {
	position: static;
	width: auto;
	height: auto;
}

/** header **/
#header {
	height: 100px; /* needed by IE 7 */
	width: 930px;
	padding-left: 0;
	padding-bottom: 0;
	vertical-align: bottom;
}

#header-inner {
	
}

#logo-title {
	
}

#logo {
	float: left;
	border-style: none;
	margin-left: 10px;
}

#site-name {
	position: absolute;
	padding-left: 5.5em;
	padding-top: 4em;
}

#site-slogan {
	 position: absolute;
  padding-left: 8.5em;
  padding-top: 5em;
}

#header-blocks {
	clear: both; /* Clear the logo */
}

/** main (container for everything else) **/
#main {
	position: relative;
}

#main-inner {
	padding-left: 12px;
	padding-top: 3px;
	width: 910px;
}

/** content **/
#content,.no-sidebars #content {
	float: left;
	width: 910px;
	margin-left: 0;
	margin-right: -910px;
	margin-bottom: 15px;
	/* Negative value of #content's width + left margin. */
	padding: 0;
	/* DO NOT CHANGE. Add padding or margin to #content-inner. */
}

.sidebar-left #content {
	width: 720px;
	margin-left: 200px; /* The width of #sidebar-left. */
	margin-right: -900px;
	/* Negative value of #content's width + left margin. */
}

.sidebar-right #content {
	width: 720px;
	margin-left: 0;
	margin-right: -740px;
	/* Negative value of #content's width + left margin. */
}

.two-sidebars #content {
	width: 560px;
	margin-left: 140px; /* The width of #sidebar-left */
	margin-right: -740px;
	/* Negative value of #content's width + left margin. */
}

#content-inner {
	margin: 0;
  padding-top: 12px;
  padding-left: 12px;
}

/** navbar **/
#navbar {
	float: left;
	width: 920px;
	margin-left: 0;
	margin-right: -920px;
	/* Negative value of #navbar's width + left margin. */
	padding: 0;
	margin-left: 0;
	margin-right: -920px;
	/* Negative value of #navbar's width + left margin. */
	padding: 0;
	/* DO NOT CHANGE. Add padding or margin to #navbar-inner. */
	height: 50px;
	/* The navbar can have any arbritrary height. We picked one
                      that is twice the line-height pluse 1em: 2 x 1.3 + 1 = 3.6
                      Set this to the same value as the margin-top below. */
}

.with-navbar #content,.with-navbar #sidebar-left,.with-navbar #sidebar-right
	{
	margin-top: 50px;
	/* Set this to the same value as the navbar height above. */
}

#navbar-inner {
	padding-top: 6px;
}

#search-box {
	padding-top: 0.7em;
	float: right;
	padding-right: 1em
}
.front #search-box {
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#primary { /*margin-left: 200px;*/ /* Width of search-box */
	
}

#secondary {
	margin-left: 200px; /* Width of search-box */
}

#navbar ul /* Primary and secondary links */ {
	margin: 0;
	width: auto;
	padding: 0;
	text-align: left;
	list-style: none;
}

#navbar li
	/* A simple method to get navbar links to appear in one line. */ {
	float: left;
	padding: 0;
	width: 144px;
	margin-left: 5px;
}

/* There are many methods to get navbar links to appear in one line.
   * Here's an alternate method: */ /*
  #navbar li
  {
    display: inline;
    padding: 0 10px 0 0;
  }
  */ /** sidebar-left **/
#sidebar-left {
	float: left;
	width: 160px;
	margin-left: 0;
	margin-right: -160px;
	/* Negative value of #sidebar-left's width + left margin. */
	padding: 0;
	/* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
}

#sidebar-left-inner {
	margin: 0 20px 0 0;
	padding: 0;
}

/** sidebar-right **/
#sidebar-right {
	float: left;
	width: 200px;
	margin-left: 720px; /* Width of content + sidebar-left. */
	margin-right: -910px;
	/* Negative value of #sidebar-right's width + left margin. */
	padding: 0;
	/* DO NOT CHANGE. Add padding or margin to #sidebar-right-inner. */
}

#sidebar-right-inner {
	margin: 0 0 0 20px;
	padding: 0;
}

/** footer **/
#footer, div #scratchpadify-footer, #closure  {
	text-align: center;
	clear: both;
	margin-left: 12px;
	margin-right: 12px;
}

#footer-inner{
	padding-left: 12px;
	padding-right: 12px;
}
#footer ul li {
  display:inline;
  list-style-type: none;}
#footer ul li ul{
  display: none;}

#footer .left {
	float: left;
}

footer .right {
	float: right;
}

#closure-blocks {
	
}

/** Prevent overflowing content **/
#header,#content,#navbar,#sidebar-left,#sidebar-right,#footer,#closure-blocks
	{
	overflow: visible;
	word-wrap: break-word;/*  A very nice CSS3 property */
}

#navbar {
	/*overflow: hidden;*/
	/* May need to be removed if using a dynamic drop-down menu */
}
/*
   * If a div.clear-block doesn't have any content after it and its bottom edge
   * touches the bottom of the viewport, Firefox and Safari will mistakenly
   * place several pixels worth of space between the bottom of the div and the
   * bottom of the viewport. Uncomment this CSS property to fix this.
   * Note: with some over-large content, this property might cause scrollbars
   * to appear on the #page div.
   */ /*
  #page
  {
    overflow-y: hidden;
  }
  */